@{
    Layout = "_Layout";
}

<div ng-app="ngTopicsModule"
     ng-controller="ngTopicsController"
     ng-init="ngOnInit()">
    <div class="col-md-12">
        <div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>

        @*Forum description*@
        <div>
            <h1 class="topics-title">
                <a href="javascript:void(0);">
                    Your first
                    forum
                </a>
            </h1>
        </div>

        @*Add topic & pagination*@
        <div class="row">
            <div class="col-xs-4">
                <a class="btn btn-primary btn-add-topic" href="@Url.Action(" AddEditTopic")">
                    <span class="fa fa-plus"></span>
                    <span>New topic</span>
                </a>
            </div>
            <div class="col-xs-8">
                <div class="text-right">
                    <ul class="pagination pagination-sm">
                        <li><a href>&laquo;</a></li>
                        <li><a href="#">&lsaquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&rsaquo;</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @*<table class="table table-condensed topics">
                        <thead>
                            <tr class="no-bottom-padding bg-teal">
                                <th></th>
                                <th>Topics</th>
                                <th class="replies">Replies</th>
                                <th class="views">Views</th>
                                <th class="last-post">Last post</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="topic in _loadTopicSummariesResult.records">
                                <td class="topic-image-container">
                                    <img class="img" ng-src="{{topic.photo}}" />
                                </td>
                                <td>
                                    <div class="topic-info-container">
                                        <div class="topic-title">
                                            <a href="@Url.Action(" Topic")">{{topic.title}}</a>
                                        </div>
                                        <div class="topic-description">
                                            <b>by</b> <a href="@Url.Action(" Topic")">{{topic.creator.username}}</a> » <span class="text-muted">{{topic.time}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="replies">
                                    {{topic.replies}}
                                </td>
                                <td class="views">
                                    {{topic.views}}
                                </td>
                                <td class="last-post">
                                    <div class="text-ellipsis">
                                        <b class="fa fa-user"></b>&nbsp;<a href="javascript:void(0);">{{topic.lastPost.username}}</a>
                                        <br />
                                        <b class="fa fa-clock-o"></b>&nbsp;<span>{{topic.lastPost.time}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>*@

                @*<div class="box box-default"
                           ng-repeat="topic in _loadTopicSummariesResult.records">
                        <div class="box-body">
                            <div>
                                <img class="img" ng-src="{{topic.photo}}" />
                            </div>
                            <div>
                                <a href="@Url.Action(" Topic")">{{topic.title}}</a>
                                <b>by</b> <a href="@Url.Action(" Topic")">{{topic.creator.username}}</a> » <span class="text-muted">{{topic.time}}</span>
                                <span>Replies: </span> <span>{{topic.replies}}</span>
                                <span>Views: {{topic.views}}</span>
                            </div>
                        </div>
                    </div>*@

                <div class="col-lg-12">
                    <div ng-repeat="topic in _loadTopicSummariesResult.records">
                        <div class="row topic-container">
                            <div class="col-md-10 col-sm-8 topic-main-info">
                                <div class="topic-image">
                                    <img src="https://via.placeholder.com/64x64" />
                                </div>
                                <div class="topic-title">
                                    <a href="forum_post.html" class="main-title">{{topic.title}}</a>
                                    <div class="topic-creator">
                                        &raquo; <a href="@Url.Action("Profile")">
                                            <small>{{topic.creator.username}}</small>
                                        </a>
                                    </div>
                                    <div>
                                        &raquo; <a href="@Url.Action("Profile")">
                                            <small>2018-01-01</small>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="topic-info">
                                <div class="col-md-1 col-sm-2 col-xs-6 topic-views">
                                    <div>
                                        <span class="views-number"> 1216 </span>
                                        <div>
                                            <small>Replies</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-2 col-xs-6 topic-views">
                                    <div>
                                        <span class="views-number"> 368 </span>
                                        <div>
                                            <small>Followers</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                @*<table class="table table-condensed topics">
                        <thead>
                            <tr class="no-bottom-padding bg-teal">
                                <th></th>
                                <th>Topics</th>
                                <th class="replies">Replies</th>
                                <th class="views">Views</th>
                                <th class="last-post">Last post</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="topic in _loadTopicSummariesResult.records">
                                <td class="topic-image-container">
                                    <img class="img" ng-src="{{topic.photo}}" />
                                </td>
                                <td>
                                    <div class="topic-info-container">
                                        <div class="topic-title">
                                            <a href="@Url.Action(" Topic")">{{topic.title}}</a>
                                        </div>
                                        <div class="topic-description">
                                            <b>by</b> <a href="@Url.Action(" Topic")">{{topic.creator.username}}</a> » <span class="text-muted">{{topic.time}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="replies">
                                    {{topic.replies}}
                                </td>
                                <td class="views">
                                    {{topic.views}}
                                </td>
                                <td class="last-post">
                                    <div class="text-ellipsis">
                                        <b class="fa fa-user"></b>&nbsp;<a href="javascript:void(0);">{{topic.lastPost.username}}</a>
                                        <br />
                                        <b class="fa fa-clock-o"></b>&nbsp;<span>{{topic.lastPost.time}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>*@
            </div>
        </div>

        @*Add topic & pagination*@
        <div class="row">
            <div class="col-xs-4">
                <button class="btn btn-primary btn-add-topic">
                    <span class="fa fa-plus"></span>
                    <span>New topic</span>
                </button>
            </div>
            <div class="col-xs-8">
                <div class="text-right">
                    <ul class="pagination pagination-sm">
                        <li><a href>&laquo;</a></li>
                        <li><a href="#">&lsaquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&rsaquo;</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
    </div>

    @*<div class="col-md-2">
            <div class="form-group">
                <img class="img img-responsive" src="https://znews-photo-td.zadn.vn/w660/Uploaded/pgi_xvauqbnau/2013_11_01/9e48aa776a5b4cac426524a370e04ae7_1.jpg" />
            </div>
        </div>*@
</div>

<script>
    var ngApp = angular.module('ngTopicsModule', []);

    ngApp.service('$topic',
        function ($http) {

            this.loadTopicSummaries = function () {
                return $http.get('/data/topics.json')
                    .then(function (loadTopicSummariesResponse) {
                        var loadTopicSummariesResult = loadTopicSummariesResponse.data;
                        if (!loadTopicSummariesResult)
                            throw 'No topic summaries has been found';

                        return loadTopicSummariesResult;
                    });
            };
        });

    ngApp.controller('ngTopicsController',
        function ($scope, $topic) {

            $scope._loadTopicSummariesResult = {};

            $scope.ngOnInit = function () {
                $topic
                    .loadTopicSummaries()
                    .then(function (loadTopicSummariesResult) {
                        $scope._loadTopicSummariesResult = loadTopicSummariesResult;
                    });
            }

        });
</script>